.offers-wrapper{
	&.style-two{
		&.no-c{
			@include mediaMax(1199px){
				padding-bottom: 170px;
			}
			.purple-bg{
				@include mediaMax(1199px){
					height: 300px;
				}
			}
		}
		padding-bottom: 220px;
		@include mediaMax(1199px){
			padding-bottom: 300px;
		}
		@include mediaMax(767px){
			padding-bottom: 330px;
		}
		p{
			line-height: 36px;
			@include fs(24);
		}
		.h-type1{
			@include mediaMax(1199px){
				line-height: 75px;
			}
		}
		span{
			color: #ffffff;
			@include fs(42);
			line-height: 50px;
			padding: 1rem 0 2rem;
			display: inline-block;
			@include mediaMax(1199px){
				@include fs(36);
			}
		}
		.offers-img-block{
			margin-top: 140px;
			@include mediaMax(1199px){
				width: 80%;
			}
			@include mediaMax(767px){
				margin-top: 70px;
			}
		}
		.purple-bg{
			@include mediaMax(991px){
				height: 426px;
			}
		}
	}
	&.style-three{
		padding-bottom: 268px;
		@include mediaMax(767px){
			padding-bottom: 75px;
		}
		.purple-bg{
			height: 519px;
			@include mediaMax(767px){
				height: 150px;
			}
			&.grey{
				background-color: #f3f3f1;
			}
		}
		.offers-img-block{
			@include mediaMax(767px){
				width: 80%;
			}
		}
	}
}
.brands-wrapper{
	.h-type1{
		@include mediaMax(767px){
			line-height: 68px;
		}
	}
	img{
		max-width: 100%;
	}
}
.tab-wrapper{
	@include mediaMax(991px){
		overflow-x: hidden;
	}
	p,li{
		@include fs(24);
		line-height: 34px;
		padding-bottom: 35px;
	}
	ul,ol{
		list-style-type: disc;
		margin-left: 2rem;
		margin-bottom: 2rem;
	}
	ol{
		list-style-type: decimal;		
	}
	.nav-tabs{
		.nav-link{
			border: 0;
			color: #8e9aa0;
			position: relative;
			font-family: 'STCForward-Medium';
			margin-right: 5rem;
			padding-bottom: 2rem;
			margin-left: 1.5rem;
			@include mediaMax(1199px){
				margin-right: 5rem;
				padding-bottom: 0rem;
				margin-left: 0;
				min-height: 60px;
				line-height: 20px;
			}
			&.active{
				color: #00c48c;
				border: none;
				background-color: unset;
				&::after{
					position: absolute;
					left: 0;
					bottom: 0;
					content: '';
					height: 4px;
					background: #00c48c;
					width: 100%;
				}
			}
			&:hover,
			&:focus{
				border-color: unset;
			}
		}
	}
	.btn-style-1{
		width: 346px;
		height: 55px;
		&:hover{
			color: #ffffff;
		}
	}
	.slick-list{
		overflow: visible;
		padding-right: 10%;
	}
	.slick-track{
		display: flex;
	}
}

/* ---- isotope ---- */

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 31%;
  height: auto;
	margin: 15px;
	background: none;
	box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.09);
	border-radius: 5px;
	@include mediaMax(767px){
		width: 97.5%;
	}
	.img-holder{
		padding-top: 1rem;
		border-bottom: 1px solid rgba(0, 0, 0, 0.13);
		img{
			margin: 0 auto;
		}
	}
	.content-holder{
		padding: 1rem 2rem;
		h3,label,span{
			line-height: 20px;
			display: block;
		}
		h3{
			@include fs(19);
			font-family: 'STCForward-Bold';
			padding-bottom: 0.5rem;
		}
		label{
			@include fs(14);
			font-family: 'STCForward-Regular';
			color: #8e9aa0;
			padding-bottom: 1.5rem;
		}
		span{
			@include fs(21);
			font-family: 'STCForward-Bold';
			color: #4f008c;
			padding-bottom: 2rem;
		}
	}
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.offer-list-wrapper{
	.bootstrap-select .dropdown-toggle .filter-option-inner-inner{
		visibility: hidden;
	}
	.bootstrap-select > .dropdown-toggle{
		background: url(../image/sandwich-ico.svg) no-repeat right top;
		border: none;
		&:active{
			background: url(../image/sandwich-ico.svg) no-repeat right top;
		}
		&:focus{
			outline: none;
		}
	}
	.bootstrap-select > .dropdown-toggle::after{
		border: none;
	}
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
		width: 36px;
	}
	.bootstrap-select .dropdown-menu{
		left: auto!important;
		right: 2%!important;
		transform: none !important;
		top: 50px !important;
	}
	.btn-style-1{
		width: 188px;
		margin-left: 1rem;
		&:hover{
			color: #ffffff;
		}
	}
	.bootstrap-select .dropdown-menu li a{
		color: #8E9AA0;
		font-family: 'STCForward-Regular';
	}
	.dropdown-item.active, .dropdown-item:active{
		background: #ffffff;
		span{
			color: #00c48c;
			font-family: 'STCForward-Bold';
		}
	}
	.dropdown-item{
		padding: 0.5rem 2rem 0.5rem 4rem;
		&:hover{
			background: #00c48c;
			span{
				color: #ffffff;
			}
		}
	}
	.sm-holder{
		@include mediaMax(767px){
			text-align: center;
		}
	}
}
