@import 'reset';
@import 'mixin';
@import 'style1';
@import 'style2';
// @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

/*------------------------------------------------START custom styling----------------------------------------------------------------------*/
@font-face {
	font-family: 'STCForward-Bold';
	src: url("../font/STCForward-Bold.eot?#iefix") format('embedded-opentype'),
	url("../font/STCForward-Bold.otf") format('opentype'),
	url("../font/STCForward-Bold.woff") format('woff'),
	url("../font/STCForward-Bold.ttf") format('truetype'),
	url("../font/STCForward-Bold.svg#STCForward-Bold") format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'STCForward-Medium';
  src: url('../font/STCForward-Medium.eot?#iefix') format('embedded-opentype'),
	url('../font/STCForward-Medium.otf')  format('opentype'),
	url('../font/STCForward-Medium.woff') format('woff'),
	url('../font/STCForward-Medium.ttf')  format('truetype'),
	url('../font/STCForward-Medium.svg#STCForward-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'STCForward-Regular';
  src: url('../font/STCForward-Regular.eot?#iefix') format('embedded-opentype'),
	url('../font/STCForward-Regular.otf')  format('opentype'),
  url('../font/STCForward-Regular.woff') format('woff'),
	url('../font/STCForward-Regular.ttf')  format('truetype'),
	url('../font/STCForward-Regular.svg#STCForward-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STCForward-Light';
  src: url('../font/STCForward-Light.eot?#iefix') format('embedded-opentype'),
	url('../font/STCForward-Light.otf')  format('opentype'),
  url('../font/STCForward-Light.woff') format('woff'),
	url('../font/STCForward-Light.ttf')  format('truetype'),
	url('../font/STCForward-Light.svg#STCForward-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
html, body{
	font-family: 'STCForward-Regular', sans-serif;
	line-height:1;
	font-size: 16px;
	color: #1D252D;
}
img{
	display: block;
}
a{
	color: #00C48C;
	outline: none;
	&:hover{
		color: #00C48C;
		text-decoration: none;
	}
}
p{
	padding-bottom: 20px;
}
strong,b{
	font-family: 'STCForward-Bold';
}
.for-dt{
	@include mediaMax(767px) {
		display: none !important;
	}
}
.for-mob{
	display: none !important;
	@include mediaMax(767px) {
		display: block !important;
	}
}
.h-type1{
	@include fs(80);
	line-height: 93px;
	padding-bottom: 70px;
	@include mediaMax(1199px){
		@include fs(60);
		line-height: 82px;
	}
	@include mediaMax(991px){
		padding-bottom: 30px;
	}
}

.h-type2,.h-type2-b,.h-type2-m{
	@include fs(60);
	line-height: 95px;
	padding-bottom: 50px;
	@include mediaMax(991px){
		@include fs(48);
		line-height: 65px;
		padding-bottom: 20px;
	}
}
.h-type2-b{font-family: 'STCForward-Bold';}
.h-type2-m{font-family: 'STCForward-Medium';}

.h-type3,.h-type3-b,.h-type3-m{
	@include fs(48);
}
.h-type3-b{font-family: 'STCForward-Bold';}
.h-type3-m{font-family: 'STCForward-Medium';}

.h-type4,.h-type4-b,.h-type4-m{
	@include fs(48);
}
.h-type4-b{font-family: 'STCForward-Bold';}
.h-type4-m{font-family: 'STCForward-Medium';}

.h-type5,.h-type5-b,.h-type5-m{
	@include fs(24);
	line-height: 34px;
	padding-bottom: 88px;
	@include mediaMax(991px){
		padding-bottom: 20px;
	}
}
.h-type5-b{font-family: 'STCForward-Bold';}
.h-type5-m{font-family: 'STCForward-Medium';}

.h-type6,.h-type6-b,.h-type6-m{
	@include fs(36);
	line-height: 50px;
	padding-bottom: 60px;
	@include mediaMax(991px){
		padding-bottom: 20px;
	}
}
.h-type6-b{font-family: 'STCForward-Bold';}
.h-type6-m{font-family: 'STCForward-Medium';}

.link-type1{
	font-family: 'STCForward-Bold';
	@include fs(16);
	color: #00C48C;
	text-transform: uppercase;
	&:hover{
		color: #00C48C;
		text-decoration: none;
	}
}
.bg-color1{
	background-color: #4F008C;
	color: #fff;
}
.relative-wrap{
	position: relative;
}
.btn-style-1{
	background: #00c48c;
	color: #ffffff;
	@include fs(17);
	font-family: 'STCForward-Medium';
	border-radius: 0;
}
