//usage:   /** For clearfix **/
// .element {
// 	@include clearfix;
// }
@mixin clearfix{
	&::before, &::after {
		content: "";
		display: table;
	}
	&::after{
	  clear: both;
	}
	&{
	  zoom:1;
	}
}
//usage : for px to rem
	//@include fs(32); for 32px font size

@mixin fs($sizeValue) {
	font-size: ($sizeValue) + px;
	font-size: $sizeValue/16 + rem;
}

//usage: /** For Media query shortcut **/
// @include mediaMax(320px) {
// 	background: red;
// }
@mixin mediaMax($width) {
	@media only screen and (max-width: $width) {
			@content;
	}
}
@mixin mediaMin($width) {
	@media only screen and (min-width: $width) {
			@content;
	}
}
@mixin mediaMinMax($width1, $width2) {
	@media only screen and (min-width: $width1) and (max-width: $width2) {
			@content;
	}
}

@mixin input-placeholder {
	&.placeholder {
			@content;
	}
	&:-moz-placeholder {
			@content;
	}
	&::-moz-placeholder {
			@content;
	}
	&:-ms-input-placeholder {
			@content;
	}
	&::-webkit-input-placeholder {
			@content;
	}
}
//usage:  /** For ::before and ::after **/
// div{
// &::before{
// 	@include pseudo(); or
// 	@include pseudo($content:"sdf");
// }
// }
@mixin pseudo($display: block, $pos: absolute, $content: '') {
	content: $content;
	display: $display;
	position: $pos;
}
//usage: @include linearGradientBg(left,to right,left top, right top,#8b2c90, #d5217e); /** For gradient bg **/
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b2c90', endColorstr='#d5217e', GradientType=1 );/*Add this line too - IE6-9 */
@mixin linearGradientBg($start, $to, $firstPos, $secondPos, $firstColor, $secondColor) {
	background: $firstColor;
	/* Old Browsers */
	background: -moz-linear-gradient($start, $firstColor 0%, $secondColor 100%);
	/* FF3.6+ */
	background: -webkit-gradient($firstPos, $secondPos, color-stop(0%, $firstColor), color-stop(100%, $secondColor));
	/* Chrome, Safari4+ */
	background: -webkit-linear-gradient($start, $firstColor 0%, $secondColor 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient($start, $firstColor 0%, $secondColor 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient($start, $firstColor 0%, $secondColor 100%);
	/* IE 10+ */
	background: linear-gradient($to, $firstColor 0%, $secondColor 100%);
	/* W3C */
}


/* Keframes */
//usage - @include keyframes(pulsate) {'our-rules'} /** for keyframe animations webkit
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
//usage - @include animate(name, duration, infinite, normal,forwards) /** for keyframe animations webkit
@mixin animate($name, $duration, $iteration, $direction, $fillmode) {
  -webkit-animation-name: $name;
     -moz-animation-name: $name;
       -o-animation-name: $name;
          animation-name: $name;
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
       -o-animation-duration: $duration;
          animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration;
     -moz-animation-iteration-count: $iteration;
       -o-animation-iteration-count: $iteration;
          animation-iteration-count: $iteration;
  -webkit-animation-direction: $direction;
     -moz-animation-direction: $direction;
       -o-animation-direction: $direction;
					animation-direction: $direction;
	-webkit-animation-fill-mode: $fillmode;
		-moz-animation-fill-mode: $fillmode;
				-o-animation-fill-mode: $fillmode;
					animation-fill-mode: $fillmode;
}
/* Keframes end*/
