.global-head{
	border-bottom: 1px solid #F3F3F1;
	padding: 15px 0;
	top: 0;
	width: 100%;
	background: #fff;
	z-index: 99;
	@include mediaMax(991px){
		position: fixed;
	}
	&.sticky{
	}
	h1{
		font-size: 0;
	}
}
.nave-wrapper{
	@include mediaMax(991px){
		display: none;
	}
	ul{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		li{
			margin-left: 76px;
			padding: 0 13px;
			@include mediaMax(1199px){
				margin-left: 70px;
			}
			&:last-child{
				margin-left: 0;
			}
			&.active{
				background: #00C48C;
				position: relative;
				z-index: 1;
				&::after{
					content: "";
					position: absolute;
					width: 100%;
					height: 73px;
					top: -28px;
					right: 0;
					background:#00C48C;
					z-index: -1;
				}
				a{
					color: #fff;
				}
			}
			a{
				color: #8E9AA0;
			}
			&.current{
				position: relative;
				a{
					color: #00C48C;
				}
				&::after{
					content: "";
					position: absolute;
					width: 100%;
					height: 4px;
					bottom: -28px;
					right: 0;
					background:#00C48C;
				}
			}
		}
	}
}
.language-switcher{
	@include mediaMax(991px){
		display: none;
	}
	a{
		color: #8E9AA0;
	}
}
.search-wrapper{
	input[type="submit"]{
		background: url(../image/search.svg) no-repeat left center/24px;
		height: 24px;
		width: 24px;
		border: 0;
		font-size: 0;
		outline: none;
		&:focus{
			outline: none;
			border: 0;
			box-shadow: none;
		}
	}
}
.submenu-wrapper{
	background: #00C48C;
	padding: 40px 0;
	position: absolute;
	width: 100%;
	top: 72px;
	right: 0;
	display: none;
	z-index: 5;
	@include mediaMax(991px){
		display: none;
	}
	ul{
		width: 33%;
		li{
			padding-bottom: 30px;
			&:last-child{
				padding-bottom: 0;
			}
			a{
				color: #fff;
			}
		}
	}
}
.logo-wrap{
	@include mediaMax(991px){
		padding-right: 45px;
	}
}
.mobile-menu-btn{
	display: none;
	position: absolute;
	top: 10px;
	right: 15px;
	@include mediaMax(991px){
		display: block;
	}
	a.menu-btn{
		background: url(../image/hamburger.svg) right top;
		width: 24px;
		height: 24px;
		display: block;
		&.close-btn{
			background: url(../image/close-btn.svg) right top;
		}
	}
}
.mobile-menu{
	display: none;
	position: fixed;
	right: 0;
	top: 72px;
	background: #fff;
	z-index: 10;
	width: 100%;
	height: 100%;
	.language-switcher{
		display: block;
		padding-top: 30px;
		a{
			@include fs(24);
			padding-right: 40px;
			@include mediaMax(767px){
				padding-right: 17px;
			}
		}
	}
	ul{
		li{
			a{
				color: #8E9AA0;
				@include fs(24);
				padding: 30px 0;
				display: block;
				padding-right: 40px;
				@include mediaMax(767px){
					padding-right: 17px
				}
				border-bottom: 1px solid #F3F3F1;
			}
			ul{
				display: none;
				&:nth-of-type(1){
					margin-top: 10px;
				}
				&:last-child{
					border-bottom: 1px solid #F3F3F1;
					padding-bottom: 10px;
				}
				li{
					a{
						@include fs(18);
						border-bottom: 0;
						padding: 15px 17px;
					}
				}
			}
			&.has-sub{
				>a{
					position: relative;
					&::after{
						content: "";
						background: url(../image/down-arrow.svg) no-repeat right top/100%;
						width: 20px;
						height: 15px;
						position: absolute;
						left: 40px;
						top: 50%;
						transform: translateY(-50%) rotate(0deg);
						transition: all .2s linear 0s;
						@include mediaMax(767px){
							left: 20px;
						}
					}
				}
				&.current{
					>a{
						color: #00c48c;
						&::after{
							height: 16px;
							transform: translateY(-50%) rotate(-180deg);
							transition: all .2s linear 0s;
						}
					}
				}
			}
		}
	}
}
/*---------end header part ---------*/

/*---------footer part ---------*/
.global-footer{
	padding: 32px 0;
}
.foot-logo{
	display: flex;
	justify-content: flex-start;
	@include mediaMax(991px){
		margin-bottom: 20px;
	}
	a{
		padding-left: 12px;
		@include mediaMax(991px){
			padding-right: 18px;
			padding-left: 18px;
		}
		&:first-child{
			// border-left: 1px solid #979797;
			@include mediaMax(991px){
				padding-right:0;
			}
		}
		img{
			width: 100%;
		}
	}
}
.foot-content{
	font-family: 'STCForward-Medium';
	@include fs(10);
	opacity: .6;
	@include mediaMax(767px){
	}
	p{
		line-height: 16px;
		@include mediaMax(767px){
			padding-bottom: 10px;
			br{
				display: none;
			}
		}
	}
	ul{
		display:flex;
		li{
			padding-right: 18px;
			padding-left: 18px;
			border-left: 1px solid #B899D1;
			&:first-child{
				padding-right: 0;
			}
			&:last-child{
				border-left: 0;
			}
			a{
				color: #fff;
			}
		}
	}
}
.social-media-wrap{
	@include mediaMax(991px){
		margin-top: 32px;
	}
	h5{
		font-size: 13px;
		font-family: 'STCForward-Medium';
		padding-bottom: 12px;
	}
	.social-icon-wrapper{
		display: flex;
		a{
			margin-left: 30px;
			&:last-child{
				margin-left: 0;
			}
		}
	}
}

/*---------end footer part ---------*/

/*---------home page ---------*/
.block1-wrapper{
	&::after{
		content: "";
		height: 360px;
		background: #00C48C;
		width: 40%;
		position: absolute;
		left: 0;
		bottom: 161px;
		z-index: -1;
		transform: scaleX(0);
		transform-origin: right center;
		@include mediaMax(1399px){
			width: 37%;
		}
		@include mediaMax(991px){
			left: auto;
			right: 0;
			width: 100%;
		}
	}
	&.aos-animate{
		&::after{
			opacity: 1;
			transition: all .3s linear .8s;
			transform: scaleX(1);
		}
	}
}
.appstore-wrap{
	display: flex;
	justify-content: space-between;
	@include mediaMax(991px){
		display: none;
	}
	img{
		max-width: 100%;
	}
}
.mob-appstore-wrap{
	display: none;
	@include mediaMax(991px){
		display: block;
	}
	.appstore-wrap{
		@include mediaMax(991px){
			display: block;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 22px;
			a{
				display: block;
				margin-bottom: 20px;
			}
		}
	}
}
.block2-wrapper{
	margin-top: 73px;
	padding: 0 0 40px;
	min-height: 1024px;
	margin-bottom: 130px !important;
	@include mediaMax(991px){
		padding: 0 0 120px;
		margin-bottom: 10px !important;
	}
	h2{
		padding-top: 147px;
		@include mediaMax(991px){
			padding-top: 57px;
		}
	}
}
.lt-content{
	margin-bottom: 55px;
	h5{
		padding-bottom: 10px;
		@include mediaMax(991px){
			padding-bottom: 26px;
		}
	}
	p{
		@include fs(19);
		line-height: 26px;
		padding-bottom: 14px;
		@include mediaMax(991px){
			@include fs(16);
			padding-bottom: 28px;
		}
	}
}
.block3-wrapper{
	margin-top: 73px;
	min-height: 1024px;
	h2{
		line-height: 58px;
	}
}
.block4-wrapper{
	margin-top: 73px;
	min-height: 1024px;
	h2{
		line-height: 58px;
	}
}
.block5-wrapper{
	margin-top: 73px;
	padding: 95px 0 40px;
	min-height: 1024px;
	@include mediaMax(991px){
		padding:45px 0 154px;
	}
}

.offers-wrapper{
	padding-bottom: 100px;
	position: relative;
	@include mediaMax(991px){
		padding-bottom: 40px;
	}
	h2{
		padding-bottom: 25px;
	}
}
.purple-bg{
	position: absolute;
	width: 100%;
	height: 426px;
	bottom: 0;
	right: 0;
	background-color: #4F008C;
	z-index: -1;
	@include mediaMax(991px){
		height: 176px;
	}
}
.offers-img-block{
	max-width: 1156px;
	float: left;
	margin-top: 85px;
	@include mediaMax(1199px){
		max-width: 976px;
	}
	@include mediaMax(991px){
		max-width: 730px;
	}
	@include mediaMax(767px){
		max-width: none;
		width: 96%;
	}
	img{
		width: 100%;
	}
}
.app-dowload-wrapper{
	background-color: #f3f3f1;
	min-height: 600px;
	display: flex;
	align-items:center;
	@include mediaMax(767px){
		text-align: right;
		min-height: 510px;
		p{
			line-height: 26px;
		}
	}
	h2{
		padding-bottom: 23px;
	}
	.appstore-wrap{
		justify-content: center;
		margin-top: 20px;
		display: flex;
		@include mediaMax(767px){
			flex-wrap: wrap;
		}
		a{
			@include mediaMax(767px){
				background-color: #000;
				width: 100%;
				img{
					margin: auto;
				}
			}
			&:first-child{
				margin-left: 30px;
				@include mediaMax(767px){
					margin-left: 0;
					margin-bottom: 20px;
				}
			}
		}
	}
}
.faq-wrapper{
	h2{
		@include mediaMax(767px){
			line-height: 75px;
		}
	}
}
.accordian-wrapper{
	margin-bottom: 30px;
	direction: ltr;
	text-align: left;
	.card{
		border: 0;
		border-radius: 0;
	}
	.card-header{
		border-radius: 0;
		border: 0;
		background:#fff;
		padding: 0;
		border-bottom: 1px solid #BABCBF;
		h5{
			padding: 34px 0;
			line-height: normal;
			position: relative;
			cursor: pointer;
			@include mediaMax(991px){
				padding: 22px 0 22px 22px;
			}
			&::after{
				content: "";
				background: url(../image/down-arrow.svg) no-repeat left top/100%;
				width: 19px;
				height: 15px;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%) rotate(-90deg);
				transition: all .2s linear 0s;
			}
			&[aria-expanded="true"]{
				&::after{
					transform: translateY(-50%) rotate(0);
					transition: all .2s linear 0s;
				}
			}
		}
	}
	.card-body{
		padding-right: 0;
		p{
			@include fs(18);
			line-height: 35px;
		}
	}
}
.faq-img-wrap{
	img{
		max-width: 100%;
		margin-right: auto;
		@include mediaMax(991px){
			margin: auto;
		}
	}
}

.phone-wrapper1{
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 1;
	padding: 107px 0 0;
	transform: scale(0.9);
	@include mediaMax(991px){
		padding-top: 35px;
	}
	@include mediaMax(767px){
		display: block;
		margin: 0 auto;
		max-width: 414px;
	}
	img{
		max-width: 100%;
	}
	@include mediaMinMax(991px, 1399px){
		padding: 137px 0 0;
		transform: scale(.88);
		transform-origin: center center;
	}
}
.phone-wrapper2{
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 1;
	padding: 107px 0 0;
	@include mediaMax(991px){
		display: none;
	}
	img{
		max-width: 100%;
	}
}
.color-block-bg{
	width: 308px;
	height: 898px;
	position: absolute;
	top: 50px;
	left: 0;
	opacity: 0;
	transition: all .3s linear 0s;
	@include mediaMax(991px){
		opacity: 1;
	}
	&.color-block-1{
		background-color: #A54EE1;
	}
	&.color-block-2{
		background-color: #FFDD40;
	}
	&.color-block-3{
		background-color: #FF375E;
	}
	&.color-block-4{
		background-color: #FF6A39;
	}
	&.aos-animate{
		opacity: 1;
		transition: all .3s linear 1.5s;
	}
}
.anim-icon {
    position: absolute;
    transition: all 0.3s ease 0s;
}
.icon-wrapper{
	position: absolute;
	top: 0;
	z-index: 2;
	right: 68px;
}
.mobile-screen-wrap{
	position: absolute;
	left: 50%;
	top: 131px;
	transform: translateX(-50%);
	z-index: 2;
	max-width: 360px;
	width: 100%;
	img{
		max-width: 100%;
	}
	.for-desk{
		@include mediaMax(991px){
			display: none;
		}
	}
	.for-mobile{
		display: none;
		@include mediaMax(991px){
			display: block;
		}
	}
}
.mobile-screen-wrapper-for-mob{
	display: none;
	width: 100%;
	@include mediaMax(991px){
		display: flex;
    justify-content: center;
		max-width: 366px;
		margin: 0 auto;
	}
	@include mediaMax(399px){
		max-width: 333px;
	}
	.mobile-screen-wrap{
		position: static;
		transform: none;
		max-width: none;
		padding: 70px 35px 0 0;
		img{
			box-shadow: -8px 14px 36px -20px #000;
		}
	}
	.color-block-bg{
		width: 172px;
		height: 650px;
		top: 30px;
	}
	.icon-wrapper{
		right: 0;
		width: 132px;
		img{
			width: 100%;
		}
	}
}
.item-fixed-block{
	position: absolute;
	left: 50%;
	top: 50px;
	z-index: 9;
	transform:  translateX(-50%) scale(.92);
	pointer-events: none;
	@include mediaMinMax(1400px, 1500px){
		transform: translateX(-50%) scale(.88);
	}
	@include mediaMinMax(1200px, 1399px){
		transform: translateX(-50%) scale(.78);
		transform-origin: center center;
	}
	@include mediaMax(1199px){
		display: none;
	}
	&.to-bottom{
		top: auto;
		bottom: 20px;
	}
	&.fixed-block{
		position: fixed;
		top: 50%;
		transform: translate(-50%,-50%) scale(.92);
		@include mediaMinMax(1200px, 1500px){
			top: 50%;
			transform: translate(-50%,-50%) scale(.88);
		}
		@include mediaMinMax(1200px, 1399px){
			transform: translate(-50%,-50%) scale(.78);
		}
	}
}
.for-tab{
	display: none;
	@include mediaMax(1199px){
		display: block;
	}
	@include mediaMax(991px){
		display: none;
	}
}
/*---------home page ./---------*/

/*---------slick style ---------*/
.block2-wrapper, .block3-wrapper, .block4-wrapper, .block5-wrapper {
	.slick-dots{
		text-align: right;
		bottom: 0;
		li{
			margin: 0;
			padding-left: 28px;
			padding-right: 28px;
			position: relative;
			a{
				color: #00C48C;
				@include fs(24);
				font-family: 'STCForward-Medium';
				opacity: .2;
			}
			&.slick-active{
				a{
					font-family: 'STCForward-Bold';
					opacity: 1;
				}
				&::after{
					opacity: 1;
				}
			}
			&::after{
				content: "";
				background-color: #00C48C;
				position: absolute;
				width: 4px;
				height: 2.8px;
				left: -14px;
				bottom: 0;
				opacity: .2;
			}
			&:first-child{
				padding-right: 0;
			}
			&:last-child{
				&::after{
					display: none;
				}
			}
		}
	}
}
.block3-wrapper, .block4-wrapper{
	.slick-dots{
		li{
			a{
				color: #4f008c;
			}
			&::after{
				background-color: #4f008c;
			}
		}
	}
}
/*---------slick style./---------*/

/*---------faq-page ---------*/
.faq-page-container{
	margin-top: 148px;
	@include mediaMax(991px){
		margin-top: 50px;
	}
	.accordian-wrapper{
		.card-header{
			h5{
				@include fs(20);
				font-family: 'STCForward-Bold';
				@include mediaMax(991px){
					padding-left: 22px;
				}
			}
		}
		.card-body{
			border-bottom: 1px solid #BABCBF;
			ul{
				margin-top: 25px;
				margin-left: 70px;
				@include mediaMax(991px){
					margin-left: 20px;
				}
				li{
					padding-bottom: 22px;
					padding-left: 60px;
					@include fs(18);
					position: relative;
					@include mediaMax(991px){
						padding-left: 20px;
						padding-bottom: 10px;
						line-height: 35px;
					}
					&::before{
						content: "";
						position: absolute;
						left: 0;
						top: 8px;
						width: 4px;
						height: 4px;
						border-radius: 50%;
						background-color: #1D252D;
						@include mediaMax(991px){
							top: 17px;
						}
					}
				}
			}
		}
	}
}
/*--------- faq-page./ ---------*/

/*--------- contact-us-page ---------*/
.contact-wrapper{
	h5{
		@include mediaMax(767px){
			@include fs(30);
			line-height: 36px;
			margin-bottom: 46px;
		}
	}
}
.contact-item-block{
	background-color: #fff;
	box-shadow: 2px 2px 10px 0 rgba(142, 154, 160, 0.61);
	min-height: 220px;
	padding: 38px 26px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 94px;
	@include mediaMax(767px){
		margin-top: 0;
		margin-bottom: 30px;
	}
	img{
		margin-right: auto;
	}
	span{
		display: block;
		width: 100%;
		padding-top: 21px;
	}
}
.contact-phone-block{
	margin-top: 102px;
	@include mediaMax(767px){
		margin-top: 25px;
	}
	span{
		display: block;
		padding-bottom: 22px;
		@include mediaMax(767px){
			@include fs(24);
			padding-bottom: 0;
		}
	}
	a{
		color: inherit;
		&:hover{
			color: inherit;
		}
	}
}
.address-wrapper{
	border: 1px solid #DDE0E2;
	padding: 30px 0;
	@include mediaMax(767px){
		margin-top: 52px;
	}
	address{
		line-height: 50px;
		@include fs(24);
		br{
			@include mediaMax(767px){
				display: none;
			}
		}
	}
}
.email-wrapper{
	a{
		@include fs(36);
		color: inherit;
		display: block;
		color: #00C48C;
		@include mediaMax(767px){
			@include fs(24);
		}
		&:hover{
			color: #00C48C;
		}
	}
}
/*---------contact-us-page./---------*/

/*---------terms-and-condition-page ---------*/
.terms-and-condition{
	line-height: 25px;
	margin-top: 92px !important;
	@include mediaMax(767px){
		margin-top: 30px !important;
	}
	ol{
		margin-right: 20px;
		>li{
			color: #4F008C;
			list-style-type: decimal;
			padding-right: 10px;
			p{
				color: #1D252D;
			}
		}
		ul{
			margin-right: 30px;
			li{
				color: #1D252D;
				padding-bottom: 20px;
				list-style-type: disc;
			}
		}
	}
}
/*---------terms-and-condition-page./---------*/
.italic-text-wrap{
	li{
		font-size: 14px !important;
		font-style: italic;
		padding-bottom: 5px !important;
		list-style-type: none !important;
	}
}
